{% extends "Base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<div class"container">
{% load static %} <img src="/static/Contact Us.jpg" class="d-block w=100" height=600px width="100%" alt="...">
</div>
<div class='container'>
  <center>
  <h2 class='text-center'> Contact us </h2>
<form style="width: 600px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" class="form-control" id="Name" name="name" placeholder='Enter your Name' >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Subject</label>
    <input type="text" class="form-control" id="Name" name="name" rows="3" style="height: 121.6px;">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</center>
</form>
</div>
{% endblock body %}